@page
@model Store.Pages.Admin.Notifications.IndexModel
@{
    ViewData["Title"] = "Notificări";
}

<h2>Notificări</h2>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model.Notifications)
        {
            <tr>
                <td>@notification.Timestamp</td>
                <td>@notification.Message</td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@notification.Id">
                        <button type="submit" class="btn btn-outline-danger flex-shrink-0">Șterge</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
