@page
@model Store.Pages.Admin.Products.CreateModel

<h2 class="text-center mb-5">Create New Product</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ProductType">Product Type:</label>
        <select class="form-control custom-select" id="ProductType" asp-for="ProductType">
            <option class="btn btn-outline-primary flex-shrink-0" value="Smartphone">Smartphone</option>
            <option class="btn btn-outline-primary flex-shrink-0" value="Smartwatch">Smartwatch</option>
            <option class="btn btn-outline-primary flex-shrink-0" value="Tablet">Tablet</option>
            <option class="btn btn-outline-primary flex-shrink-0" value="Headphones">Headphones</option>
            <option class="btn btn-outline-primary flex-shrink-0" value="Keyboard">Keyboard</option>
            <option class="btn btn-outline-primary flex-shrink-0" value="Mouse">Mouse</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Name">Product Name:</label>
        <input type="text" class="form-control" id="Name" name="Name" id="nameInput">
    </div>

    <div class="form-group">
        <label for="Brand">Product Brand:</label>
        <input type="text" class="form-control" id="Brand" name="Brand" id="brandInput">
    </div>

    <div class="form-group">
        <label for="Category">Product Category:</label>
        <input type="text" class="form-control" id="Category" name="Category" id="categoryInput">
    </div>

    <div class="form-group">
        <label for="Price">Product Price:</label>
        <input type="number" class="form-control" id="Price" name="Price" id="priceInput">
    </div>

    <div class="form-group">
        <label for="StockCount">Product Stock:</label>
        <input type="number" class="form-control" id="StockCount" name="StockCount" id="stockCountInput">
    </div>

    <div class="form-group">
        <label for="Warranty">Product Warranty:</label>
        <input type="number" class="form-control" id="Warranty" name="Warranty" id="warrantyInput">
    </div>

    <div class="form-group">
        <label for="Description">Product Description:</label>
        <textarea class="form-control" id="Description" name="Description" id="descriptionInput"></textarea>
    </div>

    <div class="form-group" id="imageUpload">
        <label>Upload Image</label>
        <input type="file" asp-for="ImageFile" required>
    </div>

    <button type="submit" class="btn btn-outline-primary flex-shrink-0">Create</button>
</form>

